<div class="container">
<h2>Edit your note:</h2>

<form action="/notes/<%= @editee.id %>" method="POST">
 <input type="hidden" name="_method" value="PUT" />
 Don't forget: <textarea cols=40 rows =5 name="content"><%= @editee.content %></textarea><br>
 <input type="submit" value="Note it!">
</form>

<form class="delete" action="/notes/<%= @editee.id %>" method="post" onsubmit="return confirm('Are you sure you want to delete?')">
  <input type="hidden" name="_method" value="DELETE">
  <input type="submit" value="Delete!">
</form>

</div>